In [1]:
import pandas as pd

In [2]:
#LOAD DATASET
df = pd.read_csv("netflix_raw.csv")

In [9]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
#Checking basic information about the dataset and the missing values in each column
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [14]:
# Replace missing values in director, cast, and country with "Unknown"
df['director'] = df['director'].fillna("Unknown")
df['cast'] = df['cast'].fillna("Unknown")
df['country'] = df['country'].fillna("Unknown")

In [16]:
#Dropping the rows where rating and duration is missing.
df= df.dropna(subset=['rating', 'duration'])

In [17]:
#Converting the date_added column to datetime format
df['date_added']= pd.to_datetime(df['date_added'], errors='coerce')

# Drop rows where date conversion failed
df = df.dropna(subset=['date_added'])

In [18]:
# Confirming all mising vales are handled
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [20]:
# Checking number of duplicate rows
df.duplicated().sum()

# Remove duplicate rows if any
df= df.drop_duplicates()

In [22]:
# Converting the 'type' column to lowercase for consistency
df['type'] = df['type'].str.lower()

# Standardize country names (capitalize properly)
df['country'] = df['country'].str.title()

# Standardize rating column to uppercase
df['rating'] = df['rating'].str.upper()

In [24]:
# Make column names lowercase and replace spaces with underscores 
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Check updated column names
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [25]:
# Checking final data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8702 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8702 non-null   object
 1   type          8702 non-null   object
 2   title         8702 non-null   object
 3   director      8702 non-null   object
 4   cast          8702 non-null   object
 5   country       8702 non-null   object
 6   date_added    8702 non-null   datetime64[ns]
 7   release_year  8702 non-null   int64
 8   rating        8702 non-null   object
 9   duration      8702 non-null   object
 10  listed_in     8702 non-null   object
 11  description   8702 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 883.8+ KB

In [27]:
# Final Check
print("Missing values:\n", df.isnull().sum())
print("Duplicate rows:", df.duplicated().sum())
print("Final dataset shape:", df.shape)

Missing values:
 show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64
Duplicate rows: 0
Final dataset shape: (8702, 12)

In [28]:
# Export cleaned dataset
df.to_csv("netflix_cleaned.csv", index=False)

print("Data Cleaning Completed Successfully")

Data Cleaning Completed Successfully